#blocoPrincipal{ /*Div principal*/


width: 1024px;
margin-top: 30px;
margin: auto;

}

#fotos{
    border-radius: 50%;
    margin-right: 100px;  
    float: left;  

}

#blocointerno{
    margin-bottom: 50px;
}